/* .background-container1 {
  background-image: url('https://dq5pwpg1q8ru0.cloudfront.net/2020/11/06/18/50/32/c9d9ffb3-1e5d-431b-94e4-5d7b8c5ab343/We%20Have%20An%20Appointment.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

/* .Appointment-container {
  width: 450px;
  margin: 0 auto;
  padding-top: 0px;
  
} */

/* .Appointment-title {
  text-align: center;
  margin-bottom: 10px;
} */

/* .Appointment-form {
  display: flex;
  flex-direction: column;
} */


/* 
.form-group label {
  display: flex;
  align-items: center;
  
} */

/* .Appointment-form input,
.Appointment-form textarea {
  border: 1px solid #ccc;
  padding: 20px;
} */
/* 
.submit-button {
  background-color: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
  align-self: center;
  margin-left: 100px;
}
.submit-button:hover {
  background-color: #45a053;
} */
/* .Image{
  margin-top: 900px;
} */
